.page {
    width: 100%;
}

.pageContainer {
    height: 100vh;
}

.emptyPage {
    width: 100%;
    display: flex;
    justify-content: center;
}

.emptyPageContent {
    margin-top: 20vh;
    width: 40vw;
}

.pageTitle {
    margin: 3em;
    margin-bottom: 0em;
    width: fit-content;
    max-width: 95vw;
    min-width: 30vw;
}

.date {
    margin-left: 3em !important;
    margin-bottom: 0em;
    width: fit-content;
    max-width: 95vw;
    opacity: 0.5;
    background: none !important;
}

.titleContent {
    border-bottom: 0.2vh solid black !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;

}

.notes {
    max-width: 95vw;
}

.comp {
    position: absolute;
}

.sidebarContent {
    width: 20vw;
    display: flex;
    background-color: #63120c;
    position: sticky;
    top: 0;
    height: 100vh; 
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.subjectItem {
    display: flex;
    height: 5vh;
    justify-content: center;
    align-items: center;
    color: #dcddde;
    background-color: #792822;
    border: 0.1vh solid rgba(255, 255, 255, .7);
    border-radius: 0.5em;
    border-right: none;
    width: 100%;
}

.pageItem {
    display: flex;
    height: 5vh;
    justify-content: center;
    align-items: center;
    color: #dcddde;
    background-color: #792822;
    border: 0.1vh solid rgba(255, 255, 255, .7);
    border-left: none;
    border-right: none;
    width: 100%;
}

.subjectColumn {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.pageColumn {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.itemContainer {
    width: 100%;
}

.divider {
    height: 100%;
    background-color: white;
    opacity: 40%;
    width: 0.1vw;
}

.addSubject {
    top: 96vh;
    position: sticky;
    background: none;
    color: #dcddde;
    border-top: 0.1vh solid;
    border-radius: 0.4em;
    width: 100%;
}

.add {
    background: none !important;
    color: #dcddde !important;
    width: 100%;
}

.add:hover {
    background-color: #5a100b !important;
}

.add:active {
    background-color: #500e0a !important;
}

.sidebarHeader {
    height: 4.5vh;
    background-color: #63120c;
    border-bottom: 0.1vh solid #dcddde;
    display: flex;
}

.header {
    display: flex;
    align-items: center !important;
    margin: 0 !important;
    margin-left: 1vw !important;
}

.addNotebook {
    margin-left: auto;
    width: 3vw;
    color: #dcddde;
    display: flex;
    font-size: 3em;
    align-items: center;
    cursor: pointer;
    border-left: 0.1vw solid #dcddde;
    justify-content: center;
}

.addNotebook:hover {
    background-color: #5a100b !important;
}

.addNotebook:active {
    background-color: #500e0a !important;
}

.searchNotebook {
    width: 3vw;
    color: #dcddde;
    display: flex;
    font-size: 1.3em;
    align-items: center;
    cursor: pointer;
    border-left: 0.1vw solid #dcddde;
    justify-content: center;
}

.searchIcon {
    margin: 0 !important;
}

.searchNotebook:hover {
    background-color: #5a100b !important;
}

.searchNotebook:active {
    background-color: #500e0a !important;
}

.notebookInput {
    margin-left: auto;
    display: flex;
}
